.comments{
    margin: 0 50px;
    background-color: #fff;
}



.characterpage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    background-color: white;
    height: 650px;
    
}

.characterinfo{
    padding: 1.5em;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 650px;
    width: calc(50% - 50px);
    height: 100%;
    background-color: white;
    padding: 2% 5%;
    line-height: 1.5em;
    font-size: 20px;
    text-align: justify;
    overflow: scroll;
}

.characterimages{
    width: 50%;
    height: 650px;
    position: relative;
    overflow: hidden;
    align-items: center;
    /* width: calc(50% + 50px);
    height: 100%;
    background-color: aqua;
    border-left: 100px solid white;
    border-bottom: 400px solid transparent;
    overflow: hidden; */
}

.characterimages::before{
    content: '';
    position: absolute;
    left: -12.1em;
    top: 50%;
    transform:
    translateY(-50%) rotate(20deg);
    background: white;
    width: 40%;
    height: 240%;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 1;
}

.characterpage_background{
    background-color: #212121;
    height: 100%;
    width: 100%;
}

.character_image_container{
    align-items: center;
    display: flex;
    justify-content: center; 
    min-height: 450px;
    height: 450px;
   padding-top: 300px;
   padding-left: 150px;
   
}



.carousel .carousel-item {
    height: 700px;
  }
  
  .carousel-item img {
      object-fit:cover;
      min-height: 600px;
      
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     
   }

   .window {
   
    
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
  }
  
  nav {
    background: #fdfdfd;
    background: #888;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* border-bottom: 3px solid gray; */
    box-shadow: 0px 20px 5px #888, 0px -10px 10px #888;
    padding-top: 10px;
    height: 44px;
    width: 100%;
    /* margin-left: -50px; */
  }

 
  
  .tabs {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }
  
  .ul_items,
  #List_items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    
  }
  
  .ul_items {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    justify-content:space-around;
  }
  
  #List_items {
    border-radius: 5px;
    display: inline-block;
   margin: 0px 10px;
    padding: 10px 0px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
    width: 250px;
    align-content: center;
  }
  
  .underline {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 40px;
    background: transparent;
    border: thick double white;
    border-radius: 5px;
  }
  
  #List_items.selected {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      color: white;
  }
  
  #List_items > li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
    
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  
  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  
  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
  
  .characterinfo::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.characterinfo{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.amount_of_smashes_or_passes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}


.input_bar_for_thought{
  padding: 0 10px;
  font-size: 35px;
  width: 40em;
  height: 400px;
 background-color: #212121;
 color: white;
 border-radius: 20px;
 resize: none;
}

.input_container{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}