h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}


.bottom_passes{
    margin-top: 250px;
}
.landingpage{
    margin: 0 40px;
    background-color: white;
   
}

.landingpage_background{
    height: '100vh';
    margin-top: -50px;
   background-color: #212121;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar{
    z-index: 250;
}

@media only screen and (max-width: 455px) {
    .landingpage{
        margin: 0px 0px;
        background-color: white;
       
    }
    

    .landingpage h1{
        color:white;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    }
  }