h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
   
    margin-top: 50px;
}


.bottom_passes{
    margin-top: 250px;
}
.landingpage{
    margin: 0 40px;
    /* background-size: 400% 400%; */
    background-color: white;
   
}

.landingpage_background{
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    height: '100vh';
    margin-top: -50px;
   background-color: #212121;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar{
    z-index: 250;
}