.card_page {
    margin: 100px auto;
    max-width: 500px;
    margin-bottom: 100px;
  }
   
  .card {
    font-size: 164px;
    width: 300px;
    height: 430px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
      0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
      0 0 16px hsl(0deg 0% 0% / 0.075);
      overflow: hidden;
      background-size: contain;
      background-size: cover;
  }
  
  .card-container {
    overflow: hidden;
    width: '100vw';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: -200px;
    height: auto;
    border-radius: 25px;  
    cursor: pointer;
}
  
  .splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    top: 0;
    clip-path: inset(37% 0% 14% 0% round 30px );
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card_stats{
  font-size: 13px;
  background-color: white;
  height: 100px;
  width: 300px;
  margin: 0 auto;
  color: black;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 15px black;
  padding: 10px 25px;
  text-align: center;
}

.card_stats > p{
  font-size: 20px;
}